<div class="demo-grid">
	<h1 class="title-page">Spartan Playground</h1>

	<p>Solve these small tasks to get a basic understanding of Spartan, refer to <a href="https://github.com/SimonHarte/SpartanGrid#spartan">the docs</a> for help.</p>

	<h2 class="title">Grid Setup</h2>
	<table>
		<tbody>
		<tr>
			<th>Max width</th>
			<td><span class="_max-width"></span></td>
		</tr>
		<tr>
			<th>Type</th>
			<td><span class="_type"></span></td>
		</tr>
		<tr>
			<th>Gutter width</th>
			<td>
				<span class="_gutter-width"></span>
			</td>
		</tr>
		<tr>
			<th>Gutter type</th>
			<td><span class="_gutter-type"></span></td>
		</tr>
		<tr>
			<th>Columns</th>
			<td>12</td>
		</tr>
		</tbody>
	</table>

	<!-- PLAYGROUND TASK 1 -->
	<h2 class="title">Task 1</h2>

	<p>Basic grid structure is already set up, add classes to the columns so they all take <strong>a third</strong> of the width.</p>

	<div class="task-1">
		<div class="g-row">
			<div class="g-col"><span>column 1</span></div>
			<div class="g-col"><span>column 2</span></div>
			<div class="g-col"><span>column 3</span></div>
		</div>
	</div>

	<!-- PLAYGROUND TASK 2 -->
	<h2 class="title">Task 2</h2>

	<p>Set up a grid row with <strong>3 columns</strong> which take <strong>a quarter</strong> of the width, having a <strong>a quarter width gap after the 2nd column</strong>. (e.g column, column, gap, column)</p>

	<div class="task-2">

	</div>

	<!-- PLAYGROUND TASK 3 -->
	<h3 class="title">Task 3</h3>

	<p>Set up a grid row with <strong>2 columns</strong> which take <strong>half</strong> the width and <strong>swap columns visually</strong> without altering the html.</p>

	<div class="task-3">

	</div>

	<!-- PLAYGROUND TASK 4 -->
	<h2 class="title">Task 4</h2>

	<p>Make a <strong>non-responsive</strong> layout prototype of the <strong>content section</strong> from <a href="https://www.big-direkt.de/#content">this website</a> using Spartan. (largest viewport, including right sidebar)</p>

	<div class="task-4">

	</div>
</div>
