<div class="demo-grid">
	<h1 class="title-page">Spartan Playground</h1>

	<p>Solve these small tasks to get a basic understanding of Spartan, refer to <a href="https://github.com/SimonHarte/SpartanGrid#spartan">the docs</a> for help.</p>

	<h2 class="title">Grid Setup</h2>
	<table>
		<tbody>
		<tr>
			<th>Max width</th>
			<td><span class="_max-width"></span></td>
		</tr>
		<tr>
			<th>Type</th>
			<td><span class="_type"></span></td>
		</tr>
		<tr>
			<th>Gutter width</th>
			<td>
				<span class="_gutter-width"></span>
			</td>
		</tr>
		<tr>
			<th>Gutter type</th>
			<td><span class="_gutter-type"></span></td>
		</tr>
		<tr>
			<th>Columns</th>
			<td>12</td>
		</tr>
		</tbody>
	</table>

	<h2 class="title">Task 1</h2>

	<p>Basic grid structure is already set up, add classes to the columns so they all take <strong>a third</strong> of the width. (<a href="https://github.com/SimonHarte/SpartanGrid#grid-classes-and-mixins">Hint</a>)</p>

	<div class="g-row">
		<div class="g-col"><span>column 1</span></div>
		<div class="g-col"><span>column 2</span></div>
		<div class="g-col"><span>column 3</span></div>
	</div>

	<h2 class="title">Task 2</h2>

	<p>Set up a grid row with <strong>3 columns</strong> which take <strong>25%</strong> of the width and with a <strong>25% gap after the 2nd column</strong>. (e.g column, column, gap, column)</p>

	<h3 class="title">Task 3</h3>

	<p>Set up a grid row with <strong>2 columns</strong> which take <strong>half</strong> the width and <strong>swap columns visually</strong> without altering the html.</p>

	<h2 class="title">Custom Layout</h2>
</div>
