<div class="demo-grid">
	<h1 class="title-page">Spartan Playground</h1>

	<p>Solve these small tasks to get a basic understanding of Spartan, refer to <a href="https://github.com/SimonHarte/SpartanGrid#grid-structure">the docs</a> for help.</p>

	<h2 class="title">Grid Setup</h2>
	<table>
		<tbody>
		<tr>
			<th>Max width</th>
			<td><span class="_max-width"></span></td>
		</tr>
		<tr>
			<th>Type</th>
			<td><span class="_type"></span></td>
		</tr>
		<tr>
			<th>Gutter width</th>
			<td>
				<span class="_gutter-width"></span>
			</td>
		</tr>
		<tr>
			<th>Gutter type</th>
			<td><span class="_gutter-type"></span></td>
		</tr>
		<tr>
			<th>Columns</th>
			<td>12</td>
		</tr>
		</tbody>
	</table>
</div>
